<!DOCTYPE html>

<html>
    <head>
        {% include 'head.html' %}
    </head>
    <body>
        {% include 'navbar.html' %}

        <div class="row">
            <div class="col-md-8">
                <div class="content-container">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-container">
                    {% include 'tag_list.html' %}
                </div>
                <div class="content-container">
                    {% include 'members_list.html' %}
                </div>
            </div>
        </div>
    </body>
</html>