{% extends 'basic/base.html' %}

{% block content %}
<div class="h2">{{ title }}</div>
<div class="alert alert-danger" role="alert">
    Wrong password! Try again.
</div>
<form>
    <div class="form-group">
        <label for="login-login">Login</label>
        <input class="form-control" id="login-login" placeholder="">
    </div>
    <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" class="form-control" id="login-password" placeholder="">
    </div>
    
    <button type="submit" class="btn btn-primary">Log In</button>
</form>
{% endblock %}