<div class="h2">Popular Tags</div>
<div>
    <a href="#"><span class="badge badge-primary badge-link">perl</span></a>
    <a href="#"><span class="badge badge-primary badge-link">Python</span></a>
    <a href="#"><span class="badge badge-primary badge-link">TechnoPark</span></a>
    <a href="#"><span class="badge badge-primary badge-link">MySQL</span></a>
    <a href="#"><span class="badge badge-primary badge-link">django</span></a>
    <a href="#"><span class="badge badge-primary badge-link">Mail.Ru</span></a>
    <a href="#"><span class="badge badge-primary badge-link">Voloshin</span></a>
    <a href="#"><span class="badge badge-primary badge-link">Firefox</span></a>
    <a href="#"><span class="badge badge-primary badge-link">perl</span></a>
    <a href="#"><span class="badge badge-primary badge-link">Python</span></a>
    <a href="#"><span class="badge badge-primary badge-link">TechnoPark</span></a>
    <a href="#"><span class="badge badge-primary badge-link">MySQL</span></a>
    <a href="#"><span class="badge badge-primary badge-link">django</span></a>
    <a href="#"><span class="badge badge-primary badge-link">Mail.Ru</span></a>
    <a href="#"><span class="badge badge-primary badge-link">Voloshin</span></a>
    <a href="#"><span class="badge badge-primary badge-link">Firefox</span></a>
</div>