<!DOCTYPE html>

<html>
    <head>
        {% include 'basic/head.html' %}
    </head>
    <body>
        {% include 'basic/navbar.html' %}

        <div class="row">
            <div class="col-md-8">
                <div class="content-container">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-container">
                    {% include 'basic/tag_list.html' with content=side_tags %}
                </div>
                <div class="content-container">
                    {% include 'basic/user_list.html' with content=best_members %}
                </div>
            </div>
        </div>
    </body>
</html>