<div class="card question-card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <div>
                    <img src="img/tmp.jpg" class="card-img-top">
                </div>
                <div class="input-group container">
                    <div class="row">
                        <input type="text" class="form-control col-md-8" placeholder="0">
                        <div class="btn-group-vertical col-md-4" role="group">
                            <button type="button" class="btn btn-primary btn-sm btn-spinner"><small>▲</small></button>
                            <button type="button" class="btn btn-primary btn-sm btn-spinner"><small>▼</small></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div>
                    <h5 class="card-title">{{ card.title }}</h5>
                    <p>{{ card.text }}</p>
                    <div class="row">
                        <div class="col-md-3">
                            <a href="#" class="card-link">answers({{ card.answers_amount }})</a>
                        </div>
                        <div class="col-md-9">
                            Tags:
                            {% for tag in card.tags %}
                                <span class="badge badge-primary">{{ tag }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>