<div class="h2">Popular Tags</div>
<div>
    <a href="#"><span class="badge badge-primary badge-link badge-special">perl</span></a>
    <a href="#"><span class="badge badge-primary badge-link badge-special">Python</span></a>
    <a href="#"><span class="badge badge-primary badge-link badge-special">TechnoPark</span></a>
    <a href="#"><span class="badge badge-primary badge-link badge-special">MySQL</span></a>
    <a href="#"><span class="badge badge-primary badge-link badge-special">django</span></a>
    <a href="#"><span class="badge badge-primary badge-link badge-special">Mail.Ru</span></a>
    <a href="#"><span class="badge badge-primary badge-link badge-special">Voloshin</span></a>
    <a href="#"><span class="badge badge-primary badge-link badge-special">Firefox</span></a>
    <a href="#"><span class="badge badge-primary badge-link badge-special">perl</span></a>
    <a href="#"><span class="badge badge-primary badge-link badge-special">Python</span></a>
    <a href="#"><span class="badge badge-primary badge-link badge-special">TechnoPark</span></a>
    <a href="#"><span class="badge badge-primary badge-link badge-special">MySQL</span></a>
    <a href="#"><span class="badge badge-primary badge-link badge-special">django</span></a>
    <a href="#"><span class="badge badge-primary badge-link badge-special">Mail.Ru</span></a>
    <a href="#"><span class="badge badge-primary badge-link badge-special">Voloshin</span></a>
    <a href="#"><span class="badge badge-primary badge-link badge-special">Firefox</span></a>
</div>