{% load static %}

<div class="card question-card" style="cursor: pointer;" onclick="window.location='/question/{{ card.id }}'">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <div>
                    <img src="{% static 'tmp.jpg' %}" class="card-img-top">
                </div>
                <div class="input-group container">
                    <div class="row">
                        <input type="text" class="form-control col-md-8" placeholder="{{ card.rating }}">
                        <div class="btn-group-vertical col-md-4" role="group">
                            <button type="button" class="btn btn-outline-primary btn-sm btn-spinner"><small class="small-glyph">▲</small></button>
                            <button type="button" class="btn btn-outline-primary btn-sm btn-spinner"><small class="small-glyph">▼</small></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card-content">
                    <h5 class="card-title"><b>{{ card.title }}</b></h5>
                    <p class="card-text">{{ card.text }}</p>
                    <div class="row card-content-bottom">
                        
                        <div class="col-md-5">
                            <button type="button" class="btn btn-primary">
                                Answers <span class="badge badge-light">{{ card.answer_set.count }}</span>
                            </button>
                        </div>
                        <div class="col-md-7 tag-container">
                            <h5 class="card-tags">Tags:
                            {% for tag in card.questiontag_set.all %}
                                <a href="#"><span class="badge badge-primary badge-link badge-special">{{ tag.tag }}</span></a>
                            {% endfor %}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>