.input-special {
  transition: 0.5s; }
  .input-special:hover {
    padding-left: 1.5rem;
    padding-right: 0rem; }

.badge-special {
  transition: 0.5s; }
  .badge-special:hover {
    padding: .25em 1em; }

.card-text {
  padding-bottom: 10%; }

.card-content {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%; }

.card-content-bottom {
  position: absolute;
  bottom: 0;
  width: 100%; }

.card-body {
  transition: 0.5s; }
  .card-body:hover {
    padding-left: 2em;
    padding-right: 0.5em; }

.card-title {
  position: relative;
  display: inline-block; }
  .card-title:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 2px;
    right: 0;
    background: #000000;
    transition: width .2s ease;
    -webkit-transition: width .2s ease; }

.card-body:hover .card-title:after {
  width: 100%;
  left: 0;
  background: #000000; }

.underlined-title {
  position: relative;
  display: inline-block; }
  .underlined-title:after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    display: block;
    margin-top: -2px;
    right: 0;
    background: #000000;
    transition: width .2s ease;
    -webkit-transition: width .2s ease; }
  .underlined-title:hover:after {
    width: 100%;
    left: 0;
    background: #000000; }

.sidetag-container {
  padding-right: 15%; }

.tag-container {
  position: relative; }

.card-tags {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.small-glyph {
  position: absolute;
  transform: translate(-50%, -50%); }

.content-container {
  padding: 5vh; }

.question-card {
  margin: 2vh 0; }

.answers-container {
  margin: 0 0 0 5vh; }

.button {
  margin: 1vh 0; }

.badge-link:hover {
  text-decoration: underline; }

.btn-spinner {
  padding: 0;
  white-space: normal; }

.btn-group-vertical {
  padding: 0; }
